node_modules/
src-tauri/target/
src-tauri/gen/

dist/
dist-ssr/

*.log
npm-debug.log*

.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.DS_Store
Thumbs.db

src-tauri/Cargo.lock